.calendar_wrapper {
  width: 75vw;
  height: 70vh;
  overflow-x: scroll;
}
.calendar {
  position: relative;
  display: flex;
  width: max-content;
  height: 67vh;
  background-color: #fafafa;
  overflow-x: scroll;
}

.task_display_area {
  display: flex;
  width: 100%;
}
.task {
  width: 100%;
  line-height: 24px;
  list-style: none;
}
.task .datetime_start,
.task .datetime_end,
.task i
{
  margin-left: 0.2rem;
}
.task_name { display: inline-block; width: 40%; }
.datetime_start, .datetime_end {
  display: inline-block;
  font-size: 0.6rem;
}
.fa-plus { display: inline-block; width: 3%; }
.fa-trash-alt { display: inline-block; width: 3%; }

.childtask {
  color: #6e6e6e;
}
.childtask .task_name { text-indent: 1em; }
form#add_task {
  padding-top: 0.5rem;
  margin-top: 1rem;
  border-top: 1px solid gray;
}
input[name='task_name'] {
  width: 80%;
}

.task_title_area {
  width: 35vw;
  max-height: 80vh;
  margin-top: 24px;
}
.tasks {
  width: 100%;
  height: 64vh;
  overflow-y: scroll;
}
.tasks ul {
  padding: 0;
  margin: 0;
}
.year {
  position: relative;
  display: inline-block;
}
.year_character {
  position: absolute;
  bottom: 2em;
  left: 1em;
  font-size: 5em;
  color: gray;
}
.month {
  display: inline-block;
  position: relative;
  height: 100%;
  text-align: center;
}
.month_character {
  position: absolute;
  bottom: 0;
  left: 45%;
  font-size: 5em;
  color: gray;
}
.day_wrapper {
  height: 64vh;
}
.day {
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  width: 25px;
  height: 100%;
  border-left: 1px solid #e6e6e6;
}
.day_01 {
  border-left: 2px solid gray;
}
.day::before {
  position: sticky;
  top: 0;
  left: 0;
  display: inline-block;
  width: 25px;
  color: #6e6e6e;
  text-align: center;
  content: '';
}
.day::after {
  font-size: 5rem;
}

.day03.month_01::after {
  position: sticky;
  top: 50vh;
  left: 0;
  display: inline-block;
  color: #6e6e6e;
  text-align: center;
  content: '01';
}
.month_02.day_03::after {
  position: sticky;
  top: 50vh;
  left: 0;
  display: inline-block;
  color: #6e6e6e;
  text-align: center;
  content: '02';
}
.month_03.day03::after {
  position: sticky;
  top: 50vh;
  left: 0;
  display: inline-block;
  color: #6e6e6e;
  text-align: center;
  content: '03';
}
.month_04.day03::after { 
  position: sticky;
  top: 50vh;
  left: 0;
  display: inline-block;
  color: #6e6e6e;
  text-align: center;
  content: '04';
}
.month_05.day03::after {
  position: sticky;
  top: 50vh;
  left: 0;
  display: inline-block;
  color: #6e6e6e;
  text-align: center;
  content: '05';
}
.month_06.day03::after { 
  position: sticky;
  top: 50vh;
  left: 0;
  display: inline-block;
  color: #6e6e6e;
  text-align: center;
  content: '06';
}
.month_07.day03::after {
  position: sticky;
  top: 50vh;
  left: 0;
  display: inline-block;
  color: #6e6e6e;
  text-align: center;
  content: '07';
}
.month_08.day03::after {
  position: sticky;
  top: 50vh;
  left: 0;
  display: inline-block;
  color: #6e6e6e;
  text-align: center;
  content: '08';
}
.month_09.day03::after { 
  position: sticky;
  top: 50vh;
  left: 0;
  display: inline-block;
  color: #6e6e6e;
  text-align: center;
  content: '09';
}
.month_10.day03::after {
  position: sticky;
  top: 50vh;
  left: 0;
  display: inline-block;
  color: #6e6e6e;
  text-align: center;
  content: '10';
}
.month_11.day03::after { 
  position: sticky;
  top: 50vh;
  left: 0;
  display: inline-block;
  color: #6e6e6e;
  text-align: center;
  content: '11';
}
.month_12.day03::after {
  position: sticky;
  top: 50vh;
  left: 0;
  display: inline-block;
  color: #6e6e6e;
  text-align: center;
  content: '12';
}

.day_01::before { content: '01'; }
.day_02::before { content: '02'; }
.day_03::before { content: '03'; }
.day_04::before { content: '04'; }
.day_05::before { content: '05'; }
.day_06::before { content: '06'; }
.day_07::before { content: '07'; }
.day_08::before { content: '08'; }
.day_09::before { content: '09'; }
.day_10::before { content: '10'; }
.day_11::before { content: '11'; }
.day_12::before { content: '12'; }
.day_13::before { content: '13'; }
.day_14::before { content: '14'; }
.day_15::before { content: '15'; }
.day_16::before { content: '16'; }
.day_17::before { content: '17'; }
.day_18::before { content: '18'; }
.day_19::before { content: '19'; }
.day_20::before { content: '20'; }
.day_21::before { content: '21'; }
.day_22::before { content: '22'; }
.day_23::before { content: '23'; }
.day_24::before { content: '24'; }
.day_25::before { content: '25'; }
.day_26::before { content: '26'; }
.day_27::before { content: '27'; }
.day_28::before { content: '28'; }
.day_29::before { content: '29'; }
.day_30::before { content: '30'; }
.day_31::before { content: '31'; }
.today {
  font-weight: bold;
}

.period {
  position: absolute;
  background-color: green;
  height: 1.2rem;
  z-index: 1;
}
.rightend_period {
  position: absolute;
  right: 0;
  width: 30px;
  height: 1.2rem;
  cursor: ew-resize;
}
.leftend_period {
  width: 30px;
  height: 1.2rem;
  cursor: ew-resize;
}

.add_child {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 400px;
  height: 160px;
  background-color: #fff;
  z-index: 2;
}
.mordal_close {
  position: absolute;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
  background-color: #e74c3c;
  text-align: center;
}

.fas, .far {
  cursor: pointer;
}
.add_child input[type='text']{
  display: block;
  width: 80%;
  margin-top: 2rem;
  margin-left: 2rem;
}

.add_child input[name='start_date_child']{
  margin-top: 2rem;
  margin-left: 2rem;
}

.add_child span {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.add_child input[type='submit']{
  display: block;
  margin: 1rem auto;
}
.ui-sortable-handle {
  padding: 0;
}
